<div class="container-fluid" ng-hide="visible">
    <span ng-repeat="file in showing track by $index">
        <div ng-if="file.type =='image'">
        <img ng-click="toggleView($index)" width="100%" height="100%" ng-click="showComments()" ng-src="{{ file.path }}"/><br><h3 style="background:#eee;line-height:35px;margin-top: 0px;" class="imgTitle">{{ file.title }}</h3><br>
        </div>
        <div ng-if="file.type =='video'">
        <video width='100%' height='100%' controls><br> <source ng-src='{{ trustSrc(file.path) }}' type='{{ file.mimeType }}' > </video><br><h3 style="background:#eee;line-height:35px;margin-top: 0px;" class="imgTitle">{{ file.title }}</h3><br>
        </div>
        <div ng-if="file.type =='audio'">
        <audio controls><br> <source ng-src='{{ trustSrc(file.path) }}' type='{{ file.mimeType }}' > </audio><br><h3 style="background:#eee;line-height:35px;margin-top: 0px;" class="imgTitle">{{ file.title }}</h3><br>
        </div>
    </span>
    <button type="button" class="btn btn-primary btn-block" ng-click="showMore()" id="showMore">Show More</button>
</div>